<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
                            type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="index.html" class="navbar-brand">
                            <i>P&G</i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row page-heading">

            </div>
            <div class="wrapper wrapper-content btn-white">
                <div class="row form-group">
                    <div class="col-md-2 col-sm-2 col-xs-2 green-colm padding-none">
                        <textarea class="form-control green-bg white-color" rows="7" [(ngModel)]="temp.tableData[0].tableHeader"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square">
                        <p> </p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[1].value1"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[1].value2"> </textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[1].value3"></textarea>
                    </div>
                    <!-- 2nd row -->
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[2].value1"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[2].value2"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[2].value3"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[2].value4"></textarea>
                    </div>
                    <!-- 3rd row -->
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[3].value1"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square">
                        <p> </p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square">
                        <p> </p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square">
                        <p> </p>
                    </div>
                    <!-- 4rth row -->
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[4].value1"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[4].value2"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[4].value3"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 white-square padding-none">
                        <textarea class="form-control" rows="7" [(ngModel)]="temp.tableData[4].value4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 form-group">
                        <button class="btn btn-primary btn-rounded full-width" type="button" (click)="save()"> Save </button>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <button class="btn btn-danger btn-rounded full-width" type="button"> Cancel </button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>
</body>