<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
                            type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="index.html" class="navbar-brand">
                            <i>P&G</i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="">
                    <div class="row ">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-offset-5 col-sm-4">
                            <div class="pull-right">
                                <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="addNewStage()"> Add new stage </button>
                                <button class="btn btn-default btn-rounded margin-15-bottom" type="button" (click)="drawChart()"> Draw chart </button>
                                <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="saveAll()"> Save all</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6" *ngFor="let stage of stages; index as i">
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Section Title </label>
                                    <input type="text" [(ngModel)]="stage.title" placeholder="Section Title" class="form-control textbox-rounded">
                                </div>
                                <!-- <div class="form-group">
                                    <label> Description </label>
                                    <textarea rows="2" placeholder="Description" class="form-control textbox-rounded"></textarea>
                                </div> -->
                                <div class="form-group">
                                    <label> Percentage </label>
                                    <input type="number" placeholder="20" [(ngModel)]="stage.percentage" class="form-control textbox-rounded">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 form-group">
                                        <button class="btn btn-primary btn-rounded full-width" (click)="saveSatge(stage)" type="button"> Save stage </button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 form-group">
                                        <button class="btn btn-danger btn-rounded full-width" (click)="deleteSatge(i)" type="button"> Delete stage </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>
    <swal #successDialog title="Saved!" text="Saved data successfully" type="success"></swal>
</body>