<body class="top-navigation">
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
              type="button">
              <i class="fa fa-reorder"></i>
            </button>
            <a href="index.html" class="navbar-brand">
              <i>P&G</i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <a href="login.html">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="wrapper wrapper-content">
        <div class="">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-right margin-20-bottom">
                <button class="btn btn-success btn-rounded" type="button" data-toggle="modal" data-target="#edit"> Add new card </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong> Leadership Pillar </strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>

            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Human Resources</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Loss Elimination</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Autonomous Maintenance</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Learning</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Preventive Maintenance</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Initiative Management</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Quality</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <button class="btn btn-default btn-rounded padding-35-h" type="button" data-toggle="modal" data-target="#edit"> Edit</button>

                  <a class="close-link alert">
                    <i class="fa fa-times-circle fa-3x danger-color"></i>
                  </a>
                </div>
              </div>
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Health Safety Environment</strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-box">
                <a href="child.html">
                  <div class="col-sm-5">
                    <div class="text-center">
                      <img alt="image" class="home-card img-responsive" src="img\img-default.jpg">
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h3>
                      <strong>Supply network </strong>
                    </h3>
                    <p>
                      Et suscipit menandri est, ut mea iriure imperdiet, at his docendi.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <strong>P&G</strong> Copyright &copy; 2018
        </div>
      </div>
    </div>
  </div>

  <!-- Add and Edit modal -->
  <div class="modal" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title"> Add / Edit card </h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label>Card Name </label>
              <input type="text" placeholder="Card name" class="form-control textbox-rounded">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea rows="1" placeholder="Description" class="form-control textbox-rounded"></textarea>
            </div>
          </form>
          <form action="#" class="dropzone" id="dropzoneForm">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-rounded">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {

      var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
          {
            label: "Example dataset",
            backgroundColor: "rgba(26,179,148,0.5)",
            borderColor: "rgba(26,179,148,0.7)",
            pointBackgroundColor: "rgba(26,179,148,1)",
            pointBorderColor: "#fff",
            data: [48, 48, 60, 39, 56, 37, 30]
          },
          {
            label: "Example dataset",
            backgroundColor: "rgba(220,220,220,0.5)",
            borderColor: "rgba(220,220,220,1)",
            pointBackgroundColor: "rgba(220,220,220,1)",
            pointBorderColor: "#fff",
            data: [65, 59, 40, 51, 36, 25, 40]
          }
        ]
      };

      var lineOptions = {
        responsive: true
      };


      var ctx = document.getElementById("lineChart").getContext("2d");
      new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

    });
    $('.alert').click(function () {
      swal({
        title: "Are you sure?",
        text: "You will not be able to recover this card!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
      }, function () {
        swal("Deleted!", "Your card has been deleted.", "success");
      });
    });
  </script>
</body>