<div class="wrapper wrapper-content btn-white">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="img-responsive">
        <canvas height="100" width="100" #firstCanvas>{{firstChart}}</canvas>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="img-responsive">
        <canvas height="100" width="100" #secondCanvas>{{secondChart}}</canvas>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="img-responsive">
        <canvas height="100" width="100" #thirdCanvas>{{thirdChart}}</canvas>
      </div>
    </div>
  </div>
</div>
