<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a routerLink="/" class="navbar-brand">
                            <i>P&G</i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a routerLink="/login">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row wrapper border-bottom  page-heading">
                <div class="col-sm-4">
                    <a routerLink="/home">
                        <h2> {{selectedPillar.title}} </h2>
                    </a>
                </div>

                <div class="col-sm-offset-5 col-sm-3" *ngIf="cards.length < 4">
                    <div class="pull-right">
                        <button class="btn btn-success btn-rounded margin-15-top" type="button" (click)="createNewCard()">
                            Add new card </button>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <!-- If page is empty -->
                <div class="container" *ngIf="cards == undefined || cards ==null || cards.length == 0">
                    <div class="wrapper wrapper-content">
                        <div class="middle-box text-center animated fadeInRightBig">
                            <h3 class="font-bold">This page is empty!</h3>
                            <div class="error-desc">
                                You can create here any cards based on card parent.
                                <br>
                                <a href="" class="btn btn-success m-t btn-rounded" data-toggle="modal" data-target="#edit">
                                    Create card</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- new cards -->
                    <app-view-cards *ngFor="let card of cards" [pillarId]="pillarId" [card]="card" (onEditCardClicked)="onEditCard($event)"
                        (onCardEdited)="onCardEdited($event)" (onDeleteCardClicked)="onDeleteCard($event)"></app-view-cards>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>

    <!-- Add and Edit modal -->
    <app-card-data [selectedCard]="selectedCard" [pillarId]="pillarId" [newCardTitle]="newCardTitle" [cardsCount]="cards.length"
        (onSavedSuccessfully)="onSavedSuccessfully($event)"></app-card-data>

</body>
