<!-- Add and Edit modal -->
<!-- move this to another template -->
<div class="modal" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title"> Add / Edit pillar </h4>
      </div>
      <form #cardForm="ngForm" (ngSubmit)="save(cardForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Pillar Name </label>
            <input type="text" required name="title" placeholder="Pillar name" class="form-control textbox-rounded" [(ngModel)]="formPillar.title"
              #title="ngModel">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea rows="1" required name="subtitle" placeholder="Description" class="form-control textbox-rounded" [(ngModel)]="formPillar.subtitle"
              #subtitle="ngModel"></textarea>
          </div>

          <!-- <div class="dropzone" id="dropzoneForm">
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </div> -->
          <!-- <div class="dropzone form-group" id="dropzoneForm" (addedfile)="onAddedFile($event)" [dropzone]="config" (error)="onUploadError($event)"
            (success)="onUploadSuccess($event)"></div> -->
          <form class="form-group">
            <div class="fallback">
              <input id="file" name="file" (change)="handleFileInput($event.target.files)" type="file" accept="image/*"  />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-rounded">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<swal #errorDialog></swal>
<ngx-spinner></ngx-spinner>
