<div class="modal" id="template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"> Select template </h4>
            </div>
            <div class="modal-body">
                <div class="row form-group product-chooser">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let template of templates" (click)="onTemplateSelected(template.tempId)">
                        <div class="product-chooser-item" [ngClass]="{'selected': template.tempId == selectedTempId}">
                            <img src="{{template.imageURL}}" style="width:250px;height:160px" class="img-responsive">
                            <p style="text-align:center;margin-top: 4px;font-size: 1.5rem"> {{template.templateName}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal"> Choose </button>
          </div> -->
        </div>
    </div>
</div>
