<div class="modal" id="template" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content animated fadeIn">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"> Select template </h4>
          </div>
          <div class="modal-body">
              <div class="row form-group product-chooser">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item selected">
                          <img src="img/temp1.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp2.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp3.png" class="img-responsive">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp4.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp5.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp6.png" class="img-responsive">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp7.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp8.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp9.png" class="img-responsive">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp10.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp11.png" class="img-responsive">
                      </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="product-chooser-item">
                          <img src="img/temp12.png" class="img-responsive">
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-white btn-rounded" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal"> Choose </button>
          </div>
      </div>
  </div>
</div>

