<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
                            type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a routerLink="/" class="navbar-brand">
                            <i>P&G</i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a routerLink="/login">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                    <button class="btn btn-success btn-rounded margin-15-bottom" type="button" (click)="onBackCliced()"> Back to Card </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> Overview </h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Title </label>
                                    <input type="text" placeholder=" title" [(ngModel)]="temp.overViewTitle" class="form-control textbox-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> chart 1 data </h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Persentage </label>
                                    <input type="number" [(ngModel)]="temp.stages[0].percentage" placeholder="Percentage" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Title </label>
                                    <input type="text" [(ngModel)]="temp.stages[0].title" placeholder="Title" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Details / Description </label>
                                    <textarea rows="2" [(ngModel)]="temp.stages[0].details" placeholder="Details" class="form-control textbox-rounded"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> chart 2 data </h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Persentage </label>
                                    <input type="number" placeholder="Percentage" [(ngModel)]="temp.stages[1].percentage" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Title </label>
                                    <input type="text" placeholder="Title" [(ngModel)]="temp.stages[1].title" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Details / Description </label>
                                    <textarea rows="2" placeholder="Details" [(ngModel)]="temp.stages[1].details" class="form-control textbox-rounded"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> chart 3 data </h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Persentage </label>
                                    <input type="number" placeholder="Percentage" [(ngModel)]="temp.stages[2].percentage" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Title </label>
                                    <input type="text" placeholder="Title" [(ngModel)]="temp.stages[2].title" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Details / Description </label>
                                    <textarea rows="2" placeholder="Details" [(ngModel)]="temp.stages[2].details" class="form-control textbox-rounded"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-3 col-md-offset-3 col-md-3 form-group">
                                <button class="btn btn-primary btn-rounded full-width" (click)="save()" type="button"> Save </button>
                            </div>
                            <div class="col-lg-3 col-md-3 form-group">
                                <button class="btn btn-default btn-rounded full-width" (click)="openDialog()" type="button"> Draw </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>
    <swal #successDialog title="Saved!" text="Saved data successfully" type="success" (confirm)="onConfirm($event)" ></swal>
</body>