<body class="top-navigation">
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
              type="button">
              <i class="fa fa-reorder"></i>
            </button>
            <a routerLink="/" class="navbar-brand">
              <i>P&G</i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <a routerLink="/login">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="wrapper wrapper-content">
        <div class="">
          <div class="row ">
            <div class="col-sm-3">
              <button class="btn btn-success btn-rounded margin-15-bottom" type="button" (click)="onBackCliced()"> Back
                to Card </button>
            </div>

          </div>
          <div class="row">
            <div class="pull-right">
              <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="addNewStage(1)">
                Add stage to pie 1 </button>
              <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="addNewStage(2)">
                Add stage to pie 2 </button>
              <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="addNewStage(3)">
                Add stage to pie 3 </button>
              <button class="btn btn-default btn-rounded margin-15-bottom" type="button" (click)="drawChart()"> Draw
                chart </button>
              <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="saveAll()">
                Save all</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="ibox-title">
                <div class="ibox-tools">
                  <h3 class="text-center"> Overview </h3>
                </div>
              </div>
              <div class="card-box padding-h-20">
                <div class="form-group">
                  <label> Title </label>
                  <input type="text" placeholder=" title" class="form-control textbox-rounded" [(ngModel)]="tempName">
                </div>
                <div class="form-group">
                  <label> Details / Description </label>
                  <textarea rows="2" placeholder="Details" class="form-control textbox-rounded" [(ngModel)]="tempDescribtion"></textarea>
                </div>

                <!-- <div class="row">
                    <div class="col-lg-6 col-md-6 form-group">
                      <button class="btn btn-primary btn-rounded full-width" (click)="onsaveTitle()" type="button"> Save </button>
                    </div>
                    <div class="col-lg-6 col-md-6 form-group">
                      <button class="btn btn-danger btn-rounded full-width" type="button"> Cancel </button>
                    </div>
                  </div> -->

              </div>
            </div>
          </div>
          <div class="row">
            <h2>First pie data</h2>
            <div class="form-group">
              <div class="col-lg-3 col-md-6">

                <label> First pie title </label>
                <input type="text" [(ngModel)]="tmp1.title" placeholder="Pie Title" class="form-control textbox-rounded">
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngFor="let stage of firstTempStages; index as i">
              <div class="card-box padding-h-20">
                <div class="form-group">
                  <label> Section Title </label>
                  <input type="text" [(ngModel)]="stage.title" placeholder="Section Title" class="form-control textbox-rounded">
                </div>
                <!-- <div class="form-group">
                                  <label> Description </label>
                                  <textarea rows="2" placeholder="Description" class="form-control textbox-rounded"></textarea>
                              </div> -->
                <div class="form-group">
                  <label> Percentage </label>
                  <input type="number" placeholder="20" [(ngModel)]="stage.percentage" class="form-control textbox-rounded">
                </div>
                <div class="form-group">
                  <label> Color </label>
                  <input [(colorPicker)]="stage.color" [style.background]="stage.color" (colorPickerChange)="onColorChanged($event,i)"
                    [cpOKButton]="true" />
                </div>
                <div class="row">
                  <!-- <div class="col-lg-6 col-md-6 form-group">
                                      <button class="btn btn-primary btn-rounded full-width" (click)="saveSatge(stage)" type="button"> Save stage </button>
                                  </div> -->
                  <div class="col-lg-6 col-md-6 form-group">
                    <button class="btn btn-danger btn-rounded full-width" (click)="deleteSatge(i,1)" type="button">
                      Delete stage </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <h2>Second pie data</h2>
            <div class="form-group">
              <div class="col-lg-3 col-md-6">
                <label> Second pie title </label>
                <input type="text" [(ngModel)]="tmp2.title" placeholder="Pie Title" class="form-control textbox-rounded">
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngFor="let stage of secondTempStages; index as i">
              <div class="card-box padding-h-20">
                <div class="form-group">
                  <label> Section Title </label>
                  <input type="text" [(ngModel)]="stage.title" placeholder="Section Title" class="form-control textbox-rounded">
                </div>
                <!-- <div class="form-group">
                                  <label> Description </label>
                                  <textarea rows="2" placeholder="Description" class="form-control textbox-rounded"></textarea>
                              </div> -->
                <div class="form-group">
                  <label> Percentage </label>
                  <input type="number" placeholder="20" [(ngModel)]="stage.percentage" class="form-control textbox-rounded">
                </div>
                <div class="form-group">
                  <label> Color </label>
                  <input [(colorPicker)]="stage.color" [style.background]="stage.color" (colorPickerChange)="onColorChanged($event,i)"
                    [cpOKButton]="true" />
                </div>
                <div class="row">
                  <!-- <div class="col-lg-6 col-md-6 form-group">
                                      <button class="btn btn-primary btn-rounded full-width" (click)="saveSatge(stage)" type="button"> Save stage </button>
                                  </div> -->
                  <div class="col-lg-6 col-md-6 form-group">
                    <button class="btn btn-danger btn-rounded full-width" (click)="deleteSatge(i,2)" type="button">
                      Delete stage </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <h2>Third pie data</h2>
            <div class="form-group">
              <div class="col-lg-3 col-md-6">
                <label> Third pie title </label>
                <input type="text" [(ngModel)]="tmp3.title" placeholder="Pie Title" class="form-control textbox-rounded">
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngFor="let stage of thirdTempStages; index as i">
              <div class="card-box padding-h-20">
                <div class="form-group">
                  <label> Section Title </label>
                  <input type="text" [(ngModel)]="stage.title" placeholder="Section Title" class="form-control textbox-rounded">
                </div>
                <!-- <div class="form-group">
                                  <label> Description </label>
                                  <textarea rows="2" placeholder="Description" class="form-control textbox-rounded"></textarea>
                              </div> -->
                <div class="form-group">
                  <label> Percentage </label>
                  <input type="number" placeholder="20" [(ngModel)]="stage.percentage" class="form-control textbox-rounded">
                </div>
                <div class="form-group">
                  <label> Color </label>
                  <input [(colorPicker)]="stage.color" [style.background]="stage.color" (colorPickerChange)="onColorChanged($event,i)"
                    [cpOKButton]="true" />
                </div>
                <div class="row">
                  <!-- <div class="col-lg-6 col-md-6 form-group">
                                      <button class="btn btn-primary btn-rounded full-width" (click)="saveSatge(stage)" type="button"> Save stage </button>
                                  </div> -->
                  <div class="col-lg-6 col-md-6 form-group">
                    <button class="btn btn-danger btn-rounded full-width" (click)="deleteSatge(i,3)" type="button">
                      Delete stage </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <strong>P&G</strong> Copyright &copy; 2018
        </div>
      </div>
    </div>
  </div>
  <swal #successDialog title="Saved!" text="Saved data successfully" type="success" (confirm)="onConfirm($event)"></swal>
</body>
