<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">
          <i> P&G </i>
        </h1>

      </div>
      <h3>Welcome to P&G</h3>
      <p>Administrator login
        <br /> Please enter the below information to manage your account.
      </p>
      <form class="m-t" role="form" action="index.html">
        <div class="form-group">
          <input type="email" class="form-control textbox-rounded" placeholder="Username" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control textbox-rounded" placeholder="Password" required="">
        </div>
        <a  routerLink="/home" class="btn btn-primary block full-width m-b btn-rounded">Login</a>

        <a href="#">
          <small>Forgot password?</small>
        </a>
      </form>
      <p class="m-t">
        <small>Copyright P&G &copy; 2018</small>
      </p>
    </div>
  </div>
</body>