canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.my-chart {
    display: block;
    width: 533px;
    height: 266px;
}

.img-responsive div {
    
    top:  21% !important;
    
    left:  21% !important;
    
}

.img-responsive div span{
    top: 28%;
    left: 35%;
    position: absolute;
}