<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
                            type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="index.html" class="navbar-brand">
                            <i>P&G</i>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row ">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-offset-5 col-sm-4">
                        <div class="pull-right">
                            <button class="btn btn-default btn-rounded margin-15-bottom" type="button" (click)="addRow()"> Add row</button>
                            <button class="btn btn-default btn-rounded margin-15-bottom" type="button" (click)="openDialog()"> Draw chart</button>
                            <button class="btn btn-success btn-rounded margin-15-bottom margin-h-10" type="button" (click)="saveAll()"> Save all </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6" *ngFor="let row of licenseData.tableData; index as i">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> Table row</h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Order date </label>
                                    <input type="date" placeholder="Order date " [(ngModel)]="row.OrderDate" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Region Name </label>
                                    <input type="text" placeholder="Region" [(ngModel)]="row.Region" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Rep </label>
                                    <input type="text" placeholder="Rep" [(ngModel)]="row.Rep" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Item Name</label>
                                    <input type="text" placeholder="Item" [(ngModel)]="row.Item" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> Units </label>
                                    <input type="number" placeholder="Units" [(ngModel)]="row.Units" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> UnitCost </label>
                                    <input type="number" placeholder="UnitCost" [(ngModel)]="row.UnitCost" class="form-control textbox-rounded">
                                </div>
                                <div class="form-group">
                                    <label> TotalCost </label>
                                    <input type="number" placeholder="TotalCost" [(ngModel)]="row.TotalCost" class="form-control textbox-rounded">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 form-group">
                                        <button class="btn btn-success btn-rounded" type="button" (click)="saveRow(row)"> Save row </button>
                                        <button class="btn btn-success btn-rounded" type="button" (click)="deleteRow(i)"> Delete row </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <h3 class="text-center"> Overview </h3>
                                </div>
                            </div>
                            <div class="card-box padding-h-20">
                                <div class="form-group">
                                    <label> Details / Description </label>
                                    <textarea rows="2" placeholder="Details" [(ngModel)]="licenseData.overView" class="form-control textbox-rounded"></textarea>
                                </div>
                                <!-- <div class="form-group">
                                    <label> Chart image </label>
                                    <div class="dropzone form-group" id="dropzoneForm" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
                                </div> -->

                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>
    <swal #successDialog title="Saved!" text="Saved data successfully" type="success"></swal>

</body>